asgiref==3.8.1
attrs==24.3.0
cachetools==5.5.0
certifi==2024.12.14
Django==5.1.5
django-allauth==65.3.1
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-gis==1.1
httplib2==0.22.0
idna==3.10
inflection==0.5.1
jsonschema==4.23.0
oauthlib==3.2.2
packaging==24.2
psycopg2==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyJWT==2.10.1
pyparsing==3.2.1
pytz==2024.2
PyYAML==6.0.2
referencing==0.36.1
requests==2.32.3
rsa==4.9
sqlparse==0.5.3
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.3.0
pillow~=11.1.0
pip~=22.0.2
setuptools~=59.6.0